.timetable {
    padding: 80px 0 90px;

    &__wrap {
        width: 100%;
        display: grid;
        grid-template-columns: 470px auto;
        gap: 34px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        color: var(--black);
        line-height: 1.33;
    }

    &__item {
        border-bottom: 1px solid var(--grey);
        padding: 20px 0;

        &:first-child {
            padding-top: 0;
        }

        &-day {
            font-weight: 600;
            font-size: 24px;
        }

        &-menu {
            margin-top: 10px;
            font-size: 18px;
            line-height: 1.78;
            display: flex;
            align-items:center;
        }

        &-circle {
            padding: 0 12px;
            display: inline-flex;
            align-items:center;

            span {
                width: 5px;
                height: 5px;
                border: 1px solid var(--secondary);
                border-radius: 50%;
                background-color: var(--secondary);
                margin-right: 12px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }

    &__picture {
        position: relative;
        display: flex;
        align-items:center;
        justify-content: center;
    }

    &__box {
        width: 470px;
        height: 502px;
        border:1px solid var(--secondary);
        z-index: -1;
    }

    &__img-left {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    &__img-right {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media (max-width:992px) {
    .timetable {
        padding: 60px 0 70px;

        &__wrap {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

@media (max-width:768px) {
    .timetable {
        padding: 50px 0 60px;
    }
}


@media (max-width:684px) {
    .timetable {

        &__wrap {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 400px;
        }

        &__item {
            padding: 10px 0;

           &-day {
                font-size: 18px;
           }

           &-menu {
                font-size: 14px;
           }

           &-circle {
                padding: 0 6px;

                span {
                    margin-right: 6px;
                }
           }
        }

        &__picture {
            flex-direction: column;
        }

        &__box {
            width: 270px;
            height: 302px;
        }

        &__img-left,   &__img-right {
            height: 350px;
            width: 270px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

    }
}

@media (max-width:576px) {
    .timetable {
        padding: 40px 0 50px;

        &__wrap {
            grid-template-rows: 1fr 300px;
        }


     &__img-left,   &__img-right {
            height: 250px;
            width: 200px;
        }
    }
}

@media (max-width:475px) {
    .timetable {
        &__wrap {
            grid-template-rows: 1fr 300px;
        }

        &__item {

           &-menu {
                font-size: 11px;
           }

        }

        &__box {
            width: 200px;
            height: 250px;
        }

        &__img-left,   &__img-right {
            height: 200px;
            width: 150px;
        }
    }
}