:root {
    --primary:#3A4574;
    --primary-hover:#233fcd;
    --secondary:#D3B47F;
    --white:#fff;
    --black:#000;
    --grey:#E7E7E7;
    --darkGrey:#808080;
    --mediumGrey:#ccc;
    --error:#ff3860;
    --success:#0b9559;
    --transition: all .5s ease-in-out;

}